body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:visited 
{
  text-decoration: none;
  decoration: none; 
}

a{
  color: #ffe2d1;
  margin-top: 10px;  
}

h3{
  margin: 0 0.5em;
}

h4{
  margin: 0 0.5em;
}

/* starting ENTER animation */
.messageout-enter {
  opacity: 0;
  color: orange;
}

/* ending ENTER animation */
.messageout-enter-active {
  opacity: 1;
  transition: all 2s ease-in-out;
}

/* starting EXIT animation */
.messageout-exit {
  position:absolute;
  left:0;
  opacity: 0;
}

/* ending EXIT animation */
.messageout-exit-active {
  opacity: 0;
}


.recharts-cartesian-axis-tick {    
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  text{
    fill:white;
  }
}
.recharts-legend-item-text{
  font-size:1rem;
}

.recharts-tooltip-wrapper {
  font-size: 1rem;
  color:black;
  .customTooltip {
    p {
      margin:0;
    }
  }
}

.recharts-wrapper {
  margin: 1em;
}